---
import ComponentLayout from "../layouts/ComponentLayout.astro"
---

<ComponentLayout styles="h-[18rem] w-[15rem]">
    <header>
        <div class="h-5 w-5">
            <img
                class="object-cover h-full w-full"
                src="https://avatars.githubusercontent.com/u/120581623?v=4"
                alt="jes015 image"
            />
        </div>
    </header>
</ComponentLayout>
