---
import ComponentLayout from "../layouts/ComponentLayout.astro"
---

<ComponentLayout
    styles="relative h-[18rem] w-[15rem] flex flex-col justify-center items-center p-5"
>
    <div class="absolute top-0 left-0 z-[0]">
        <img class="blur-xl" src="https://avatars.githubusercontent.com/u/120581623?v=4" />
    </div>
    <div class="z-10">
        <header class="flex justify-center">
            <div class="w-[5.5em] aspect-square rounded-full overflow-hidden">
                <img
                    class="object-cover h-full w-full"
                    src="https://avatars.githubusercontent.com/u/120581623?v=4"
                    alt="jes015 image"
                />
            </div>
        </header>
        <div class="flex flex-col items-center text-center">
            <h3 class="font-bold text-xl">Jes015</h3>
            <p class="text-xs text-text-tertiary [text-wrap:balance] leading-[0.8rem]">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum
                adipisci atque ea?
            </p>
        </div>
        <footer></footer>
    </div>
</ComponentLayout>
