.background {
  background-color: #00000052;
  background-image: url('../../../../../public/pancake-illustration.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
