JWT_SECRET="mysecret" # default server secret
PORT=3000 # default server port
ENVIRONMENT="development" # default server environment, allowed values are "development" or "production"
POSTGRESQL_DB_URI= # postgresql://user:password@host:port/database
ADMIN_PASSWORD= # default server user password
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=
DEFAULT_USER_AVATAR= # default user avatar image url
DEFAULT_USER_HEADER= # default user header image url