---
import TeamMember from "@/components/TeamMember.astro"
import { globalConfig } from "@/config"
---

<section
    class="teamMembers-section relative overflow-hidden"
>
    <div
        class="w-full flex flex-nowrap overflow-hidden justify-start"
    >
        <div class="flex team-container basis-[100%] shrink-0">
            {
                globalConfig.team.map((ownerData) => (
                    <div class="flex basis-1/2 shrink-0">
                        <TeamMember data={ownerData} />
                    </div>
                ))
            }
        </div>
        <div class="flex team-container basis-[100%] shrink-0">
            {
                globalConfig.team.map((ownerData) => (
                    <div class="flex basis-1/2 shrink-0">
                        <TeamMember data={ownerData} />
                    </div>
                ))
            }
        </div>
    </div>
</section>

<style>
    .teamMembers-section::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(90deg, rgba(19,19,24,1) 0%, rgba(19,19,24, 0) 100%);
        width: 15%;
        height: 100%;
        z-index: 10;
    }
    .teamMembers-section::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        background: linear-gradient(90deg, rgba(19,19,24,0) 0%, rgba(19,19,24,1) 100%);
        width: 15%;
        height: 100%;
        z-index: 10;
    }

    .team-container {
        animation: linear 30s identifier infinite;
    }

    @keyframes identifier {
        to {
            transform: translateX(-100%);
        }
    }
</style>
